<div class="container-wo cf">
  <section class="main">
    <%= nested_form_for(@training) do |f| %>
      <% if @training.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h2>

          <ul>
          <% @training.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :workout_name %><br>
        <%= f.text_field :workout_name, data: {autocomplete_source: Workout.order(:name).map(&:name)}, :class => 'autocomplete_workout'  %>
      </div>
      <h1>Groupset</h1>
      <%= f.fields_for :groupsets do |builder| %>
        <%= render 'groupset_fields', f: builder %>
      <% end %>
      <p><%= f.link_to_add "Add Groupset", :groupsets, :class => 'btn green' %></p>
  </section>
  <aside>
    <div class="actions">
      <button id="submit-form-button" class="btn">Save Training</button>
    </div>  
    <div class="field">
      <%= f.label :notes %><br>
      <%= f.text_area :notes %>
    </div>
    <div class="field">
      <%= f.label :starttime %><br>
      <%= f.datetime_select :starttime %>
    </div>
    <div class="field">
      <%= f.label :endtime %><br>
      <%= f.datetime_select :endtime %>
    </div>
  </aside>
  
<% end %>


</div>