<fieldset class="second cf">
  <div class="field col-30">
    <%= f.label :repetition, :class => 'col-40' %>
    <%= f.number_field :repetition, :class => 'col-20' %>
  </div>
  <div class="field col-30">
    <%= f.label :kgweight, :class => 'col-40' %>
    <%= f.text_field :kgweight, :class => 'col-20' %>
  </div>
  <div class="field col-30">
    <%= f.label :lbweight, :class => 'col-40' %>
    <%= f.text_field :lbweight, :class => 'col-20' %>
  </div>
  <%= f.link_to_remove "Remove", :class => 'col-10' %>
</fieldset>