<fieldset class="first">
  <div class="field">
    <%= f.label :exercise_name, "Exercise Name" %><br>
    <%= f.text_field :exercise_name, data: {autocomplete_source: Exercise.order(:name).map(&:name)}, :class => 'autocomplete_exercise' %>
  </div>
  <%= f.fields_for :groupsetitems do |builder| %>
    <%= render 'groupsetitem_fields', f: builder %>
  <% end %>

  <p><%= f.link_to_add "Add a Set", :groupsetitems, :class => 'btn green' %></p>

  <%= f.link_to_remove "Remove this Groupset" %>
</fieldset>
