<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @training.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @training.notes %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @training.starttime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @training.endtime %>
</p>

<p>
  <strong>Workout:</strong>
  <%= @training.workout.name %>
</p>

<% @training.find_groupset(@training.id).each do |groupset| %>

  <h3><%= groupset.exercise.name %></h3>

  <% groupset.find_groupsetitems(groupset).each do |groupsetitem| %>
    <p>
      <strong><%= groupsetitem.repetition %></strong>  
      <%= groupsetitem.kgweight %>kg
      <%= groupsetitem.lbweight %>lb
    </p>
  <% end %> 

<% end %>




<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
