<%= form_for(@groupset) do |f| %>
  <% if @groupset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@groupset.errors.count, "error") %> prohibited this groupset from being saved:</h2>

      <ul>
      <% @groupset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :training_id %><br>
    <%= f.text_field :training_id %>
  </div>
  <div class="field">
    <%= f.label :exercise_id %><br>
    <%= f.text_field :exercise_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
