<h1>Listing groupsets</h1>

<table>
  <thead>
    <tr>
      <th>Training</th>
      <th>Exercise</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groupsets.each do |groupset| %>
      <tr>
        <td><%= groupset.training %></td>
        <td><%= groupset.exercise %></td>
        <td><%= link_to 'Show', groupset %></td>
        <td><%= link_to 'Edit', edit_groupset_path(groupset) %></td>
        <td><%= link_to 'Destroy', groupset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Groupset', new_groupset_path %>
