<p id="notice"><%= notice %></p>

<p>
  <strong>Training:</strong>
  <%= @groupset.training %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @groupset.exercise %>
</p>

<%= link_to 'Edit', edit_groupset_path(@groupset) %> |
<%= link_to 'Back', groupsets_path %>
