<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :exercise_ids, "Exercises" %><br/>
    <%= f.collection_select :exercise_ids, Exercise.order(:name), :id, :name, {}, {multiple:true} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
