<p id="notice"><%= notice %></p>
<h1><%= @workout.name %></h1>
<h3>Exercises</h3>
<% if @workout.exercises.any? %>
	<ul>
	<% @workout.exercises.each do |exercise| %>
	<li><%= exercise.name %></li>
	<% end %>
	</ul>
<% else %>
	<p>Sorry, no exercises yet...</p>
<% end %>
<hr>

<h3>Trainings</h3>
<% if @workout.trainings.any? %>
	<ul>
	<% @workout.trainings.each do |training| %>
	<li><%= training.name %></li>
	<% end %>
	</ul>
<% else %>
	<p>Sorry, no trainings yet...</p>
<% end %>
<hr>
<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
