<%= form_for(@groupsetitem) do |f| %>
  <% if @groupsetitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@groupsetitem.errors.count, "error") %> prohibited this groupsetitem from being saved:</h2>

      <ul>
      <% @groupsetitem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :repetition %><br>
    <%= f.number_field :repetition %>
  </div>
  <div class="field">
    <%= f.label :kgweight %><br>
    <%= f.text_field :kgweight %>
  </div>
  <div class="field">
    <%= f.label :lbweight %><br>
    <%= f.text_field :lbweight %>
  </div>
  <div class="field">
    <%= f.label :groupset_id %><br>
    <%= f.text_field :groupset_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
