<h1>Listing groupsetitems</h1>

<table>
  <thead>
    <tr>
      <th>Repetition</th>
      <th>Kgweight</th>
      <th>Lbweight</th>
      <th>Groupset</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groupsetitems.each do |groupsetitem| %>
      <tr>
        <td><%= groupsetitem.repetition %></td>
        <td><%= groupsetitem.kgweight %></td>
        <td><%= groupsetitem.lbweight %></td>
        <td><%= groupsetitem.groupset %></td>
        <td><%= link_to 'Show', groupsetitem %></td>
        <td><%= link_to 'Edit', edit_groupsetitem_path(groupsetitem) %></td>
        <td><%= link_to 'Destroy', groupsetitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Groupsetitem', new_groupsetitem_path %>
