<p id="notice"><%= notice %></p>

<p>
  <strong>Repetition:</strong>
  <%= @groupsetitem.repetition %>
</p>

<p>
  <strong>Kgweight:</strong>
  <%= @groupsetitem.kgweight %>
</p>

<p>
  <strong>Lbweight:</strong>
  <%= @groupsetitem.lbweight %>
</p>

<p>
  <strong>Groupset:</strong>
  <%= @groupsetitem.groupset %>
</p>

<%= link_to 'Edit', edit_groupsetitem_path(@groupsetitem) %> |
<%= link_to 'Back', groupsetitems_path %>
