$black: #2F3435;
$grey_dark: #5B5B5B;
$grey_light: #E6E6E6;
$blue: #7AB8E7;
$green: #7CC74A;



.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


@mixin bp($point) {
  @if $point == papa-bear {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == mama-bear {
    @media (min-width: 1000px) { @content; }
  }
  @else if $point == reverse-mama-bear {
    @media (max-width: 999px) { @content; }
  }
  @else if $point == baby-bear {
    @media (min-width: 650px)  { @content; }
  }
  @else if $point == only-baby-bear {
    @media (min-width: 650px) and (max-width: 999px)  { @content; }
  }
}