.btn {
	background-color: $blue;
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 0.1em;
	padding: 0.3em 1em;
	display: inline-block; 
	&.green {
		background-color: $green;
		padding: 0.15em 0.8em;
	}
}