.header {
	background-color: $black;
	.fa {
		padding-right: 1em;
	}
	.logo {
		width: 25%;
		max-width: 16em;
		//background-color: $blue;
		color: white;
		padding: 0.5em 1em;
		float: left;
		h1 {
			margin: 0;
		}
	}
	.right {
		float: right;
		width: 75%;
		max-width: 15em;
		.link {
			float: left;
			padding: 1.3em 1em;
			&:hover {
				background-color: $grey_dark;
			}
		}
		a {
			color: white;
			text-decoration: none;
			display: block;
		}
		.profile {
			position: relative;
			ul {
				top: 3.1em;
				left: 0;
				display: none;
				position: absolute;
				background-color: $grey_dark;
				list-style-type: none;
				padding: 1em;
				width: 15em;
				a:hover {
					text-decoration: underline;
				}
			}
			&:hover {
				ul {
					display: block;
				}
			}
		}
	}
}