html, body {
	width: 100%;
	height: 100%;
}


.main-content {
	width: 75%;
	//ymax-width: 75em;
	@media (min-width: 1024px) {
		width: -webkit-calc(100% - 16em);
		width: calc(100% - 16em);
	}
	height: 100%;
	float: left;
	//background-color: orange;
	padding: 0 1em;
}

.container-wo {
	max-width: 65em;
	.main {
		float: left;
		width: 75%;
		padding-right: 2em;
	}
	aside {
		margin-top: 2em;
		float: right;
		width: 25%;
		padding: 1em;
		background-color: $grey_dark;
		border-radius: 2px;
		label {
			color: white;
		}
	}
}

fieldset {
	border: none;
	margin: 1em 0;
	&.first {
		background-color: $grey_light;
	}
	&.second {
		background-color: white;
	}
}

[class*=col-] {
	float: left;
	width: 100%;
}

.col-10 {
	width: 10%;
}
.col-20 {
	width: 20%;
}
.col-30 {
	width: 30%;
}
.col-40 {
	width: 40%;
}
.col-50 {
	width: 50%;
}
.col-60 {
	width: 60%;
}
.col-70 {
	width: 70%;
}
.col-80 {
	width: 80%;
}
.col-90 {
	width: 90%;
}
.col-100 {
	width: 100%;
}





