.main-nav {
	background: $black;
	float: left;
	width: 25%;
	max-width: 16em;
	height: 100%;
	.fa {
		padding: 0 1em 0 0;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			a {
				padding: 1em;
				display: block;
				color: white;
				text-decoration: none;
				border-top: 0.1em solid black;
				&:hover {
					text-decoration: underline;
				}
				&.active {
					background-color: $blue;
				}
			}
			ul {
				padding: 0.5em 0 1em 0;
				background-color: $grey_dark;
				li {
					a {
							border-top: none;
							padding: 0.3em 0.3em 0.3em 3.5em;
							&.active {
								background-color: $black;
							}
					}
				}
			}
		}
	}
}