@font-face {
    font-family: 'fira_sans_otregular';
    src: font-url('firasansot-regular-webfont.eot');
    src: font-url('firasansot-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('firasansot-regular-webfont.woff') format('woff'),
         font-url('firasansot-regular-webfont.ttf') format('truetype'),
         font-url('firasansot-regular-webfont.svg#fira_sans_otregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fira_sans_otitalic';
    src: font-url('firasansot-regularitalic-webfont.eot');
    src: font-url('firasansot-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('firasansot-regularitalic-webfont.woff') format('woff'),
         font-url('firasansot-regularitalic-webfont.ttf') format('truetype'),
         font-url('firasansot-regularitalic-webfont.svg#fira_sans_otitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


* {
    font-family: "fira_sans_otregular";
    font-weight: normal;
}


h2, .h2 {
  font-size: 1.3em;
}
