<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @exercise.notes %>
</p>

<h3>Workouts containing this exercise</h3>
<% if @exercise.workouts.any? %>
<ul>
	<% @exercise.workouts.each do |workout| %>
		<li><%= workout.name %></li>
	<% end %>
</ul>
<% else %>
<p>Sorry, no workouts yet...</p>
<% end %>
<hr>




<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
