<!DOCTYPE html>
<html>
<head>
  <title>Fitnesstask</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render '/layouts/navigation' %>
<div class="main-content cf">
	<%= yield %>
</div>
</body>
</html>
